[Unit]
Description= Check Connection Service
After=multi-user.target

[Service]
Type=simple
User=pi
WorkingDirectory=/usr/local/bin
ExecStart=/usr/local/bin/checkConnection.py

[Install]
WantedBy=multi-user.target
